
body
{
    font-family: Arial;
    font-size:10pt;
    background-color: black;
}

/* ===========================================================================
 * Div layouts
 */

 #mainDiv
 {
     margin: 0 auto;
 }
 
#headDiv
{
    color: #FFFFFF; 
    padding: 20px;

}

#topimageDiv 
{
    position: relative;
    white-space: nowrap;
    height: 800px;
}

#prevDiv
{
    position: absolute;
    height: 100%;
    vertical-align: middle;
}

#nextDiv
{
    position: absolute;
    height: 100%;
    vertical-align: middle;
}

#bodyDiv
{
    position: relative;
    padding: 10px;
}

/* ===========================================================================
 * Images layouts
 */

img
{
    border-style: none;
}

#topImage
{
    display: block;
    margin: 0 auto;
    height: 100%;

}

#backImg
{
   margin-top: 10px;
}

/* ===========================================================================
 * Misc layouts
 */

h1.title
{
    font-family:Arial Black, Arial;
    font-size:30pt;
    display: inline;

    align-items: center;
    justify-content: left;
}

#footerFrame
{
    height: 50px;
    width: 800px;
    border: 0px;
}


.imgThumb {
	border-width: 0px;
    border-spacing: 10px;
    padding: 5px;
    width: 150px;
    height: 150px;
    overflow: hidden;
}
