
body
{
    font-family: Arial;
    font-size:10pt;
    background-color: black;
}

/* ===========================================================================
 * Div layouts
 */

 #mainDiv
 {
    margin: 0;
    width: 100%;
    height: 100%;
    position: relative;
 }
 
#headDiv
{
    color: #FFFFFF; 
    padding: 10px;
    height: 50px;
    overflow: hidden;
    vertical-align: center;
}

#topimageDiv 
{
    position: relative;
    white-space: nowrap;
    height: 800px;
}

#thumbnailDiv
{
    position: relative;
    padding: 10px;
    bottom: 0;
}

#footerDiv {
    color: white;
    font-size:10pt;
}

#previous, #next {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    bottom: 0;
    margin: auto;
}

#previous {
    left: 0;
    margin-left: 0px;
 }

#next {
    right: 0;
    margin-right: 0px;  
}

/* ===========================================================================
 * Images layouts
 */

img
{
    border-style: none;
}

#topImage
{
    display: block;
    margin: 0 auto;
    height: 100%;

}

#backImg
{
   margin-top: 10px;
}

/* ===========================================================================
 * Misc layouts
 */

#pageTitle
{
    font-family:Arial Black, Arial;
    font-size:20pt;
    display: inline;

    align-items: center;
    justify-content: left;
}

#footerFrame
{
    height: 50px;
    width: 800px;
    border: 0px;
}

.imgThumb {
	border-width: 0px;
    border-spacing: 10px;
    padding: 5px;
    width: 150px;
    height: 150px;
    overflow: hidden;
}

.button-right, .button-left{
    border:none;
    display:inline-block;
    padding:8px 16px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    text-align:center;
    cursor:pointer;
    white-space:nowrap;

    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;

    color: #fff!important;
    background-color: #000!important;
    font-size: 16px;

    -webkit-appearance: button;

    text-transform: none;

    position: absolute;
    top: 50%;

    transform: translate(0%,-50%);
    -ms-transform: translate(-0%,-50%);
}

.button-right {
    right: 0%;
}

.button-left {
    left: 0%;
}